bundle_crops
bundle_crops_rembg
detected_bundles
data
compare_output
visual_debug
visual_debug_slot_filling
gr_lite_lora

.env
.venv

__pycache__
*.pyc

*.csv

*.jpg
*.png
!imgs/1.png
!imgs/2.png
!imgs/3.png
!imgs/4.png

*.json
*.log

*.npy
*.pt
*.ts
*.pkl
*.safetensors
